<%- include("./../partials/header.ejs")  %>
<!-- order.ejs -->
<h2>Select a Burger</h2>

<form action="/place-order" method="POST">
    <label for="burger">Choose your burger:</label>
    <select name="burger" id="burger">
    <% burgers.forEach(function(burger) { %>
    <option value="<%= burger.value %>"><%= burger.name %></option>
    <% }); %>
</select>

<form action="/place-order" method="POST">
    <label for="drinks">Choose your burger:</label>
    <select name="drink" id="drink">
        <% drinks.forEach(function(drink) { %>
        <option value="<%= drink.value %>"><%= drink.name %></option>
        <% }); %>
    </select>

    <form action="/place-order" method="POST">
        <label for="sidedish">Choose your burger:</label>
        <select name="sidedish" id="sidedish">
            <% burgers.forEach(function(burger) { %>
            <option value="<%= sidedish.value %>"><%= sidedish.name %></option>
            <% }); %>
        </select>

<!-- Submit button to proceed -->
<button type="submit">Place Order</button>
</form>

<%- include("./../partials/footer.ejs")  %>